<% provide :title, t(".title") %>
<body>
<!--[if lte IE 8]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
<![endif]-->

<!-- SubHeader =============================================== -->
<section class="parallax-window" id="home" data-parallax="scroll" style='background:url(<%= asset_path 'sub_header_home.jpg' %>)' data-natural-width="1400" data-natural-height="550">
  <div id="subheader">
    <div id="sub_content">
      <h1>学んだことを実践してみたい！<br>短時間で稼ぎたい！</h1>
      <p>
        隙間時間を上手に活用！
      </p>
      <form method="post" action="http://www.ansonika.com/quickfood/list_page.html">
        <div id="custom-search-input">
          <div class="input-group ">
            <input type="text" class=" search-query" placeholder="仕事や会社またはフリーランサーを検索">
            <span class="input-group-btn">
                        <input type="submit" class="btn_search" value="submit">
                        </span>
          </div>
        </div>
      </form>
    </div><!-- End sub_content -->
  </div><!-- End subheader -->
  <div id="count" class="hidden-xs">
    <ul>
      <li><span class="number">890</span> 会社・フリーランサー</li>
      <li><span class="number">5350</span> 学生</li>
      <li><span class="number">12350</span> 仕事</li>
    </ul>
  </div>
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

<!-- Content ========================sh========================== -->

<div class="high_light">
  <div class="container">
    <h3>人手がたりない！雇いたい！</h3>
    <p>低コストで数時間だけの雇用可能</p>
    <%= link_to "私は採用したいです", "#" %>
  </div><!-- End container -->
</div><!-- End hight_light -->

<div class="white_bg">
  <div class="container margin_60">

  <div class="main_title">
    <h2 class="nomargin_top">仕事一覧</h2>
    <p>
      やりたい仕事がきっとみつかる！
    </p>
  </div>

  <div class="row">
    <% @top_high_salary_works.each do |job| %>
      <%= render "job", :job => job %>
    <% end %>
  </div> 

  <% count = 0 %>
  <div class="row">
    <% @top_recent_works.each do |job| %>
      <%= render "job", :job => job %>
      <% if count%2 == 0 %>
        <div class="w-100"></div>  
      <% end %>
    <% end %>
  </div>
  
  </div><!-- End container -->
</div><!-- End white_bg -->

<!-- End Content =============================================== -->

</body>

<!-- Mirrored from www.ansonika.com/quickfood/index_7.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 09 Jul 2018 03:29:04 GMT -->
