<!--<section class="signup">-->
<!--  <div class="container">-->
<!--    <div class="signup-content">-->
<!--      <div class="signup-form">-->
<!--        <h2 class="form-title">Sign in</h2>-->
<%#= form_for(:session, url: login_path) do |f| %>

<!--          <div class="form-group">-->
<%#= f.email_field :email, class: 'form-control', placeholder: "Email" %>
<!--          </div>-->

<!--          <div class="form-group">-->
<%#= f.password_field :password, class: 'form-control', placeholder: "Password" %>
<!--          </div>-->

<%#= f.submit "Log in", class: "btn btn-primary" %>
<%# end %>
<!--        <p>New user? <%#= link_to "Sign up now!", new_student_path %></p>-->
<!--      </div>-->
<!--      <div class="signup-image">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!-- Login modal -->
<div style="margin-top: 50px; margin-bottom: 100px">
  <div class="modal-dialog">
    <div class="modal-content modal-popup">
      <div class="popup-form" id="myLogin">
        <%= form_for(:session, url: login_path, class: "popup-form") do |f| %>
          <div class="login_icon"><i class="icon_lock_alt"></i></div>
          <h2>学生ログインページ</h2>
          <%= f.email_field :email, class: "form-control form-white", placeholder: "メールアドレス" %>
          <%= f.password_field :password, class: "form-control form-white", placeholder: "パスワード" %>
          <div class="text-left">
            <a href="#">パスワードを忘れた場合はこちら</a>
          </div>
          <%= f.submit "ログイン", class: "btn btn-submit" %>
        <% end %>
      </div>
    </div>
  </div>
  <!-- End modal -->
</div>
