<<<<<<< HEAD
<h1>Work#show</h1>
<p>Find me in app/views/work/show.html.erb</p>
=======
<h1>Works#show</h1>
<p>Find me in app/views/works/show.html.erb</p>
>>>>>>> modified database and fix home screen
